<div *ngIf="task.payload.doc.data()!=undefined" class="task-card" >
    <div class="info" >
        <p>{{task.payload.doc.data().desc}}</p>
    </div>
    <div class="date-section">
        <p>{{task.payload.doc.data().date.toDate() | date:"shortDate"}}</p>
    </div>
    <div *ngIf="task.payload.doc.data().isCompleted==false" class="remove-button">
        <button  (click)="addToCompleted(task)">&#10004;</button>
    </div>
    <div *ngIf="task.payload.doc.data().isCompleted==true" class="add-button">
        <button (click)="removeFromCompleted(task)">&#10006;</button>
    </div>
</div>
       


