<div *ngIf="task!=undefined" class="task-card" >
    <div class="info" >
        <p>{{task.desc}}</p>
    </div>
    <div class="date-section">
        <p>{{task.date | date:"shortDate"}}</p>
    </div>
    <div *ngIf="task.isCompleted==false" class="remove-button">
        <button  (click)="addToCompleted(task)">&#10004;</button>
    </div>
    <div *ngIf="task.isCompleted==true" class="add-button">
        <button (click)="removeFromCompleted(task)">&#10006;</button>
    </div>
</div>
       


