.task-card{
    margin:10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px grey;
    .category-section{
        background-color: black;
        color:white;
        padding:5px;
        p{
            font-size: large;
            font-weight: 600;
        }
    }
    .info-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
        padding:0px 10px;
        .info{
            flex:3;
            margin:5px;
            overflow: hidden;
            p{
                font-size: large;
                font-weight: 600;
            }
        }
        .add-button{
            flex:1;
            margin:5px;
            overflow: auto;
            button{
                border:none;
                padding:5px 10px;
                background-color:red;
                color:white;
                font-size: large;
                border-radius: 10px;
            }
        }
        .remove-button{
            flex:1;
            margin:5px;
            button{
                border:none;
                padding:5px 10px;
                background-color:green;
                color:white;
                font-size: large;
                border-radius: 10px;
            }
        }
    }
    
    .date-section{
        flex:1;
        margin:5px;
        padding:0px 10px;
        margin-bottom:15px;
        overflow: hidden;
        p{
            font-size:small;
        }
    }
    
}