<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="register-section">

        <div class="left-section">
            <img src="https://static.vecteezy.com/system/resources/previews/002/136/493/non_2x/creating-an-application-design-concept-people-and-content-text-place-ui-ux-design-illustration-vector.jpg">
        </div>
        <div class="right-section">
            <div class="heading">
                <p>Hey!! Create an account to login</p>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="name-section division">
                    <div class="label-section">
                        <label>
                            Name:
                        </label>
                    </div>
                    <div class="input-section">
                        <input type="text" formControlName="name">
                    </div>
                </div>            
                <div *ngIf="registerForm.controls['name']?.invalid && registerForm.controls['name']?.touched " class="error-style">
                    <div *ngIf="registerForm.controls['name']?.errors?.['required']">
                        Name is required
                    </div>
                    <div *ngIf="registerForm.controls['name']?.errors?.['minlength']">
                        Name must be at least 4 characters long
                    </div>
                  </div>
        
        
                <div class="email-section division">
                    <div class="label-section">
                        <label>
                            Email:
                         </label>
                    </div>
                    <div class="input-section">
                        <input type="email" formControlName="email">
                    </div>
                </div>
                <div *ngIf="registerForm.controls['email']?.invalid && registerForm.controls['email']?.touched " class="error-style">
                    <div *ngIf="registerForm.controls['email']?.errors?.['required']">
                        Email is required
                    </div>
                    <div *ngIf="registerForm.controls['email']?.errors?.['pattern']">
                        Enter a valid email
                    </div>
                  </div>
        
        
                <div class="password-section division">
                    <div class="label-section">
                        <label>
                            Password:
                        </label>
                    </div>
                    <div class="input-section">
                        <input type="password" formControlName="password">
                    </div>

                </div>

                <div *ngIf="registerForm.controls['password']?.invalid && registerForm.controls['password']?.touched " class="error-style">
                    <div *ngIf="registerForm.controls['password']?.errors?.['required']">
                        Password is required
                    </div>
                    <div *ngIf="registerForm.controls['password']?.errors?.['minlength']">
                        Password should atleast be of length 8
                    </div>
                  </div>
        
        
                <div class="confirm-password-section division">
                    <div class="label-section">
                        <label>
                            Confirm Password:
                         </label>
                    </div>
                    <div class="input-section">
                        <input type="password" formControlName="confirmPassword">
                    </div>
                </div>

                <div *ngIf="registerForm.controls['confirmPassword']?.invalid && registerForm.controls['confirmPassword']?.touched " class="error-style">
                    <div *ngIf="registerForm.controls['confirmPassword']?.errors?.['required']">
                        Confirm Password is required
                    </div>
                  </div>
        
                <div class="button-section">
                    <button type="submit"> Submit</button>
                </div>
                
            </form>
        </div>
        
    </div>
</body>
</html>

