<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TO-DO Day 7</title>
</head>
<body>
  
    <div class="nav-header">
      <p class="heading">TO-DO List</p>
      <div class="task-info">
        
        <div class="tasks-section">
            <div class="task-info-head"> Tasks</div>
            <div class="task-info-count">{{todos.length + completedTasks.length}}</div>
        </div>
        <div class="tasks-section">
          <div class="task-info-head"> &#10003;</div>
          <div class="task-info-count">{{completedTasks.length}}</div>
      </div>
        <div class="tasks-section">
          <div class="task-info-head"> &#10006;</div>
          <div class="task-info-count">{{todos.length}}</div>
      </div>
      </div>
    </div>
    <div class="container">
    <div class="row-container">
      <div class="left-bar">
        <div class="add-task-section">
          <app-add-task ></app-add-task>
        </div>
        <div class="category-section">
          <p id="heading"> Categories</p>
          <app-category-component [category]=((categories)) (selectedCategory)="categorySelected($event)"></app-category-component>
        </div>
      </div>
      <div class="pending-section">
        <p id="heading"> Pending Task</p>
        <app-pending-task *ngIf="!categoryClicked"  [todos]=((todos))  ></app-pending-task>
        <app-pending-task *ngIf="categoryClicked"  [todos]=((filteredList(todos,selectedCategory)))  ></app-pending-task>
      </div>
      <div class="completed-section">
        <p id="heading"> Completed Task</p>
        <app-completed-task *ngIf="!categoryClicked" [completedTasks]=((completedTasks))></app-completed-task>
        <app-completed-task *ngIf="categoryClicked" [completedTasks]=((filteredList(completedTasks,selectedCategory)))></app-completed-task>
      </div>

    </div>
  </div>
</body>
</html>